.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.js
**/*.map
**/*.ts
.vscode
node_modules
out/
src/
tsconfig.json
webpack.config.js
.eslintignore
.eslintrc.js
.prettierrc.js
images
.github