#text-input {
  height: 100%;
  resize: none;
  outline: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.todoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

#content,
#render {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
